:host {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 #777;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  transition: 500ms cubic-bezier(0.550, 0.265, 0.290, 1.390);
  left: 0;
}

:host(.current) {
  left: 20px;
  transform: scale(1.01);
}

:host(.active) {
  background: rgba(#52d875, 0.2);
  border-color: #52d875;
}

:host(.critical) {
  background: rgba(#e74844, 0.2);
  border-color: #e74844;
}

:host(.inactive) {
  background: rgba(#777, 0.2);
  border-color: #777;
}

.controls-block {
  display: flex;
  align-items: center;
}

.form-control {
  display: inline-block;
  width: 40%;
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.badge {

  &.active {
    background-color: #3f9f52;
  }
  &.critical {
    background-color: #ff5658;
  }
}
