<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="btn btn-primary" routerLink="/">Projects</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="btn btn-primary" routerLink="/users">Users</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="btn btn-primary" routerLink="/nganimations">ng animations</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="overflow: hidden">
    <div class="col-12" [@routeNewState]="getAnimationsData(rOutlet)">
      <router-outlet #rOutlet="outlet"></router-outlet>
    </div>
  </div>
</div>
