h1 {
  color: red;
}

:host {
  display: block;
  border-style: dashed;
  padding: 20px;
}

:host(.favorite) {
  border: 3px solid red;
}

:host-context(.boring) {//any parent if has .boring class
  //border: 1px solid yellow;
  margin: 10px;
}

/deep/ p {
  font-weight: bold;
  color: #333;
}

:host-context(.boring) /deep/ h1 {
  border: 1px solid #c6c8ca;
  color: #ccc;
}
