<div style="text-align:center">
  <h1>
    Root component {{ title }}!
  </h1>
</div>

<!--data binding component-->
<!--<fa-databinding></fa-databinding>-->
<!---->
<!--life cycle component-->
<fa-lifecycle *ngIf="!delete" [bindable]="boundValue" >
  <p #boundContent>{{test}}</p>
</fa-lifecycle>
<button (click)="delete = true">Click to delete</button>
<button (click)="test = 'Changed value'">Click to change Content</button>
<button (click)="test = boundValue = 2000">Click to change Binding</button>
<!---->

