<h2>{{today | date: "dd/MMM/yyyy"}}</h2>
<h3>{{title | dateFormater}}</h3>

<a routerLink="/stocks">stocks</a>

<h2 myHighlight>First directive in use</h2>
<hr>
<router-outlet></router-outlet>
<hr>

<div class="test" *ngIf="!profile else noProfileFound">
  Name {{profile.name}}
</div>



<ng-template #noProfileFound>
  Lorem ipsum dolor.
</ng-template>
<hr>
<hr>
<app-dashboard></app-dashboard>
<hr>


<h2>Add new stock</h2>
<div >
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label for="">
      Stock name
      <input
        type="text"
        id="stockAuthor"
        name="stockAuthor"
        [(ngModel)]="newSpok.stockAuthor"
        required />
    </label>
    <hr>
    <label for="">
      Stock code
      <input
        type="text"
        id="stockCode"
        name="stockCode"
        [(ngModel)]="newSpok.stockCode"
        required />
    </label>
    <hr>
    <button type="submit">Success</button>
  </form>
</div>
